
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* Tab Switching */


.SAMPLE {
    margin: 0;
    color: #1d95cd;
    font-size: 45px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: bold;
    position: relative;
    left: 30px;
    position: relative;
}
.RESUME {
    position: relative;
    margin: 0;
    color: #1d95cd;
    font-size: 35px;
    font-family: "Caveat", cursive;
    font-weight: bold;
    position: relative;
    top: 3px;
    left: 30px;

}

#container_of_switching_tab {
    width: 100vw;
    height: 15vh;
    background-color: #251133;
}


.home {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 5px;
    position: relative;
    left: 3%;
    font-size: 23px;
    margin-left: 20px;
}

.a_underline_none {
    text-decoration: none;
}

.home:hover {
    text-decoration: underline;
    font-size: 7px;
    color: #c8d4c3;
}

#contact {
    height: 7vh;
    width: 15vw;
    font-size: 20px;
    background-color: #359a07;
    float: right;
    position: relative;
    top: 25%;
    right: 5%;
    text-align: center;
    border-radius: 30px;
    color: white;
}

#p_in_contact {
    text-align: center;
    position: relative;
    top: -20%;
    font-family: "Kanit", sans-serif;
}

#contact_information {
    margin: 0;
    text-align: center;
    position: relative;
    top: 30%;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 40px;
}

#contact:hover {
    text-decoration: underline;
    font-weight: bold;
}



/* <!-- Index Switching Tab Border, Bellow is information designs --> */









/* contact page*/


#contact_p {
    color: red;
    text-align: center;
    margin-top: 10%;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
}



/* end of contact */









/* website background */

.background_container {
    height: 85vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-size: 100%;
}









/* home page designs */

#home_title {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: "Edu AU VIC WA NT Dots", cursive;
}

#bear_container {
    width: 50vw;
    height: 35vh;
    margin: 0;
    margin: auto;
}

#bear_dance {
    border-radius: 200px;
    border-color: purple;
    border-style: solid;
    border-width: 5px;
}

#bear_text {
    position: relative;
    left: 23%;
    font-size: 25px;
    color: white;
    font-family: "Kanit", sans-serif;
}

#home_legal_name {
    position: relative;
    left: 23%;
    font-size: 50px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#home_learn_more {
    position: relative;
    top: 3%;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 30px;
    color: white;
    text-align: center;
}

#home_statement {
    position: relative;
    top: 5%;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* end of home page design */


#message_box {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 76% 75%, 90% 100%, 50% 76%, 0 76%);
    shape-outside: polygon(0% 0%, 100% 0%, 100% 75%, 76% 75%, 90% 100%, 50% 76%, 0 76%);
    float: left;
    width: 40vw;
    height: 70vh;
    background-color: ghostwhite;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}


#posthighschool_picture {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    shape-outside: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);;
    height: 70vh;
    width: 40vw;
    float: right;
    margin-top: 2%;
}

#posthighschool_text {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 25px;
    position: relative;
    left: -30%;
    top: 85%;
    margin: 0;
    color: white;
}

.text_in_message_box {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: purple;
}


/* end of design of post high school plan */




/* below is design of class */

.class_h1 {
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
    position: relative;
    top: 1%;
    text-align: center;
    font-size: 40px;
}

.class_information1 {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: bold;
    color: white;
    margin: 0;
    position: relative;
    top: 1%;
    text-align: center;
    font-size: 30px;
}

.class_container {
    float: left;
    width: 50vw;
    height: 50vh;
}
.class_container2 {
    float: right;
    width: 50vw;
    height: 50vh;
}
.class_container2_texts {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    color: white;
    font-size: 23px;
    margin: 1;
}
#what {
    font-family: "Kanit", sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    position: relative;
}

#about {
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 105px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#class_about_information {
    position: relative;
    float: right;
}

.class_information {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: white;
    text-align: center;
}


/* end of class design  */



/* start of hobbies design */

#hobbies_h1 {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: white;
    text-align: center;
    margin: 0;
}

#hobbies_programming {
    float: left;
    height: 28vh;
    width: 40vw;
    margin: 1%;
    border: solid;
    border-color: white;
    border-radius: 70px;
}

.hobbies_picture {
    border-radius: 70px;
    height: 28vh;
    width: 40vw;
}

.hobbies_information {
    position: relative;
    right: 10%;
    float: right;
    height: 28vh;
    width: 45vw;
    margin: 1%;
    border: solid;
    border-color: white;
}

.hobbies_text {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 20px;
    color: white;
    margin: 0;
}
